# You can use "pylint --generate-rcfile" to generate full .pylintrc

[MASTER]

# Allow loading of arbitrary C extensions. Extensions are imported into the
# active Python interpreter and may run arbitrary code.
unsafe-load-any-extension=yes
